:root {
  --color1: #4357ad;
  --color1hover: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
}

body {}

.icon-logo {
  width: 100px;
}

.type-logo {
  width: 200px;
}

img {
  display: inline-block;
}

header {
  position: fixed;
  padding: 10px 0 20px 0;
  top: 0;
  width: 100%;
  background: var(--color1);
  box-shadow: 0 0 10px #000000;
}

.menu {
  display: flex;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.menu .logo {
  display: inline-block;
  margin-right: 1em;
}

.menu .logo h1 {
  vertical-align: top;
  font-size: 22px;
  line-height: 45px;
}

.menu .btn-menu {
  display: none;
  color: #fff;
  text-decoration: none;
  font-size: 1em;
}

.menu .logo:hover {
  background: var(--color1hover);
}

.menu .enlaces li {
  display: inline-block;
  text-align: right;
}

.logo a,
.menu .enlaces li a {
  display: inline-block;
  padding: 1em;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
}

.menu .enlaces i {
  margin-right: 5px;
}

.menu .enlaces a:hover {
  color: var(--color1);
  background: var(--color1hover);
}











.slider {
  margin-top: 140px;
  width: 100%;
  height: 400px;
  background: var(--color1hover);
}











.gallery {
  display: flex;
}

.item-gallery {
  width: 30%;
  height: 100px;
  margin: 6px;
  background-color: #ccc;
  align-items: center;
  text-align: center;
  background-size: cover;
}







footer{
  position:fixed;
  display:block;
  bottom: 0;
  width: 100%;
  height: 300px;
  background: #222;
}