@charset "UTF-8";

:root {
  --color1: #73dce5;
  --color1hover: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica;
  bord5er: 1px solid;
}

html,
body {
  width: 100%;
  height: 100%;
}

.wrap-max-with{
  margin: 20px auto;
  width: 90%;
  max-width: 1200px;
}


/* HEADER-DEV */
.header-dev {
  display: none;
  color: #fff;
  text-decoration: none;
}

/* END HEADER-DEV */


/* HEADER / MENU*/
header {
  display: block;
  position: fixed;
  padding: 10px 0px;
  top: 0;
  width: 100%;
  height: 130px;
  background: var(--color1);
  box-shadow: 0 0 10px #000;
  z-index: 2000;
}

.menu {
  display: table;
  width: 90%;
  margin: 0 auto;
}

.menu-item {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.icon-logo {
  height: 70px;
  width: 70px;
}

.type-logo {
  width: 140px;
  height: 70px;
}

.enlaces li {
  display: inline-block;
  list-style: none;
}

.menu a {
  display: block;
  padding: 16px;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
}

.menu a:hover {
  background: #f2f2f2;
  color: #73dce5;
}

.menu a:active {
  background: #fff;
  color: #73dce5;
}

.menu .active:after {
  content: "";
  position: relative;
  display: block;
  background: #fff;
  height: 2px;
  top: 16px;
}

/* END HEADER / MENU */

/* SLIDER */
.slider {
  margin-top: 130px;
  width: 100%;
  height: 400px;
  background: #f2f2f2;
}

/* END SLIDER */

/* GALLERY */
.gallery {
  display: block;
  width: 100%;
  text-align: center;
  padding: 20px;
}

.gallery fieldset {
  border: 2px solid #ddd;
  border-radius: 10px;
}

.gallery legend {
  margin: auto;
  padding: 0 20px;
}

.gallery-wrapper {
  padding: 20px;
}

.item-gallery {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 150px;
  height: 150px;
  margin: 6px;
  background-color: #eee;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #ddd;
}

.item-gallery:hover {
  cursor: pointer;
  opacity: 0.5;
}

/* END GALLERY */

footer {
  position: static;
  display: block;
  bottom: 0;
  width: 100%;
  height: 200px;
  background: #ccc;
}